{% extends 'backend/base.html' %}
{% load static %}$

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="card-content">
                    <div class="col-md-6">
                        <div class="card">
                            <form class="form-horizontal" method="POST">
                                {% csrf_token %}
                                <div class="card-header ">
                                    <h4 class="card-title text-center ">
                                        {{title}}
                                    </h4>
                                </div>
                                <div class="card-content">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nama </label>
                                        <div class="col-md-9">
                                            <input type="text" value="{{ get_lokasi.nama }}" placeholder="Nama Restaurant" class="form-control" name="nama">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Thumb</label>
                                        <div class="col-md-9">
                                            <input type="text" value="{{ get_lokasi.thumb }}" placeholder="Thumbnail" class="form-control" name="thumb">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Alamat</label>
                                        <div class="col-md-9">
                                            <textarea name="alamat" class="form-control" placeholder="Alamat Restaurant" rows="4" cols="42">{{ get_lokasi.alamat }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Kontak</label>
                                        <div class="col-md-9">
                                            <input name="kontak" value="{{ get_lokasi.kontak }}" type="number" placeholder="Kontak" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="form-group">
                                        <label class="col-md-3"></label>
                                        <div class="col-md-9">
                                            <button type="submit" class="btn btn-fill btn-info">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> <!-- end card -->
                    </div> <!--  end col-md-6  --> 
                </div>
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>
</div>
{% endblock content %}